@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

:root {
  /* Custom colors */
  --bvnk-black: #0a1628;
  --bvnk-gray: #556877;
  --bvnk-blue: #3f53dd;
  --bvnk-line-gray: #e3e8ee;

  --background: #ebedf3;
  --foreground: var(--bvnk-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-bvnk-gray: var(--bvnk-gray);
  --color-bvnk-blue: var(--bvnk-blue);
  --color-bvnk-line-gray: var(--bvnk-line-gray);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
